{% extends "base.html" %}

{% block title %}Status LIVE{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="30">

<h2 style="text-align:center; margin-bottom:8px;">
    ⚙️ Main menu   
</h2>

<!-- 🔝 TOP BAR -->

<div style="
    display:flex;
    flex-direction:column;
    gap:14px;
    margin-top:12px;
">

    <a href="/home/homebyperson" style="text-decoration:none;">
        <button style="
            width:100%;
            padding:14px;
            border-radius:14px;
            border:none;
            font-weight:bold;
            background:#22c55e;
            color:#022c22;
            cursor:pointer;
        ">
            ⏱ LIVE ALL BY PERSON
        </button>
    </a>

    <a href="/live/status" style="text-decoration:none;">
        <button style="
            width:100%;
            padding:14px;
            border-radius:14px;
            border:none;
            font-weight:bold;
            background:#22c55e;
            color:#022c22;
            cursor:pointer;
        ">
            🔴 LIVE NOW
        </button>
    </a>


    <a href="/home" style="text-decoration:none;">
        <button style="
            width:100%;
            padding:14px;
            border-radius:14px;
            border:none;
            font-weight:bold;
            background:#22c55e;
            color:#022c22;
            cursor:pointer;
        ">
            ⏱ LIVE ALL
        </button>
    </a>

    <a href="/activities" style="text-decoration:none;">
        <button style="
            width:100%;
            padding:14px;
            border-radius:14px;
            border:none;
            font-weight:bold;
            background:#0d42ad;
            color:white;
            cursor:pointer;
        ">
            🏃‍♂️ ACTIVITY SCHEDULE
        </button>
    </a>

    <a href="/pictureactivities" style="text-decoration:none;">
        <button style="
            width:100%;
            padding:14px;
            border-radius:14px;
            border:none;
            font-size:1em;
            font-weight:bold;
            background:#fde047;
            color:#422006;
            cursor:pointer;
        ">
            🖼 AKTIVITY
        </button>
    </a>

</div>





{% endblock %}
